{{> header}}

<main role="main">



</main>

{{> footer}}

{{> jquery}}

{{! Bower components }}
{{!<script src="js/vendor/jquery.bpopup.min.js"></script>
<script src="js/vendor/jquery.flexslider-min.js"></script>
<script src="js/vendor/jquery.herotabs.min.js"></script>
<script src="js/vendor/jquery.powertip.min.js"></script>}}

{{! Browserify bundle }}
<script src="js/{{jsBuildName}}{{#unless debug}}.min{{/unless}}.js"></script>
