<!DOCTYPE html>
<!--[if IE 7]>         <html class="no-js is-ie7 oldie"><![endif]-->
<!--[if IE 8]>         <html class="no-js is-ie8 oldie"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"><!--<![endif]-->
<head>
    <meta charset="UTF-8">
    <title><%= _.capitalize(projectName) %></title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="css/main.min.css">

    <!--[if lt IE 9]>
        <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>
<body>

    <!--(bake includes/header.html)-->

    <main role="main">

    </main>

    <!--(bake includes/footer.html)-->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery.min.js"><\/script>')</script>

    <script src="js/app.min.js"></script>

</body>
</html>
