<!DOCTYPE html>
<!--[if IE 7]>         <html lang="<%= lang %>" class="no-js is-ie7 oldie"><![endif]-->
<!--[if IE 8]>         <html lang="<%= lang %>" class="no-js is-ie8 oldie"><![endif]-->
<!--[if gt IE 8]><!--> <html lang="<%= lang %>" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= _.capitalize(projectName) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%% include partials/styles.ejs %>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>

    <div class="l-wrapper">

        <%% include partials/header.ejs %>

        <main role="main">



        </main>

        <%% include partials/footer.ejs %>

    </div>

    <%% include partials/scripts.ejs %>

</body>
</html>
